
<h2>{{ title | uppercase }}</h2>

<div class="wrapper">

  <div *ngFor="let product of products">

   <app-product-thumb
    [product]="product"
   ></app-product-thumb>
    <!--      <button class="fancy-button-yellow" (click)="share()">
     D E T A I L S
    </button>-->

    <!--    <app-product-alerts [product]="product" (notify)="onNotify()">
    </app-product-alerts>-->
  </div>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->