/* Global Styles */

* {
  font-family: dosis;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

router-outlet + *  {
  padding: 0 16px;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  color: white;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Fancy Button */

.fancy-button {
  background-color: #1dd9d9;
  color: white;
}

.fancy-button i.material-icons {
  color: white;
  padding-right: 4px;
}

.fancy-button-yellow {
  background-color: #fafa0b;
  border: 2px solid #101010;
  color: #101010;
  font-weight: bold;
  font-size: 12px;
}

/* Top Bar */

app-top-bar {
  width: 100%;
  height: 68px;
  background-color: #1dd9d9;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar h2 {
  color: white;
  margin: 0;
}

 h2 {
  border: 2px solid#f90ff9;
  padding: 10px;
  box-shadow: 5px 10px #f90ff9;
  color: #f90ff9;
  font-weight: bold;
  margin-top: 3rem !important;
  margin: 2rem;
}

app-top-bar h2 {
  border: 0px solid#f90ff9;
  box-shadow: 0px 0px #f90ff9;
  color: white;
  font-weight: bold;
  margin-top: 0rem !important;
  margin: 0rem;
}

.h2-product-title {
  border: 2px solid#1dd9d9;
  box-shadow: 5px 10px#1dd9d9;
  color: #1dd9d9;
  font-weight: bold;
  margin-top: 0rem !important;
  margin: 0rem;
}

app-product-list hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #1dd9d9;
}

/* Checkout Cart, Shipping Prices */

.cart-item {
  border: 2px solid#1dd9d9;
  box-shadow: 5px 10px#1dd9d9;
  padding: 2rem;
}

.shipping-item {
  border: 2px solid#1dd9d9;
  box-shadow: 5px 10px#1dd9d9;
  margin: 2rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
}

.circle-yellow {
  background-color: #fafa0b;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  border: 2px solid black;
}

.circle-yellow-small {
  background-color: #fafa0b;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  border: 2px solid black;
}

.circle-blue {
  background-color:#1dd9d9;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  border: 2px solid black;
}

.circle-blue-small {
  background-color:#1dd9d9;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  border: 2px solid black;
}

.circle-pink {
  background-color: #f90ff9;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  border: 2px solid black;
}

.circle-pink-small {
  background-color: #f90ff9;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  border: 2px solid black;
}

.circle-yellow-selected {
  background-color: #fafa0b;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  border: 6px solid black;
}

.circle-blue-selected {
  background-color:#1dd9d9;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  border: 6px solid black;
}

.circle-pink-selected {
  background-color: #f90ff9;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  border: 6px solid black;
}

.circle-size {
  color: white;
  text-align: center;
  background-color:black;
  height: fit-content;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid black;
}

.circle-size-selected {
  color: black;
  text-align: center;
  background-color:#fafa0b;
  height: fit-content;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid black;
}

.circle-size-selected-small {
  color: white;
  text-align: center;
  background-color:black;
  height: fit-content;
  padding: 3px;
  padding-left: 7px;
  padding-right: 7px;
  border: 2px solid black;
  font-size: 12px;
}

.controls {
  color: black;
  text-align: center;
  height: fit-content;
  padding: 10px;

}



/* GENERAL */

@font-face {
  font-family: dosis;
  src: url(assets/fonts/Dosis-Bold.ttf) format("opentype");
}

@font-face {
  font-family: dosis-bold;
  src: url(assets/fonts/Dosis-Bold.ttf) format("opentype");
}

.mg-1rem {
  margin: 1rem;
}

.mg-top-1rem {
  margin-top: 1rem;
}

.mg-2rem {
  margin: 2rem;
}

.mg-top-2rem {
  margin-top: 2rem;
}

.mg-bottom-2rem {
  margin-bottom: 2rem;
}

.mg-top-4rem {
  margin-top: 4rem;
}

.responsive {
  width: 100%;
  height: auto;
}

.pointer {
  cursor: pointer;
}

.input {
  border: 2px solid black;
  font-size: 16px;
  border-radius: 0px;
  width:400px;
}

.display-flex-start {
  display: flex;
  justify-content: flex-start;
  column-gap: 2rem;
}

.display-flex-end {
  display: flex;
  justify-content: flex-end;
  column-gap: 2rem;
}

.display-flex-center {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.display-flex-space-around {
  display: flex;
  justify-content: space-around;
}

.text-align-center {
  text-align: center;
}

.width-100 {
  width: 100%;
}

.mg-0 {
  margin: 0 !important;
}

.pink {
  color: #f90ff9;
}

.blue {
  color: #1dd9d9;
}

.white-space {
  margin-left: 5px;
}

.padding-1rem {
  padding: 1rem;
}



/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/